.card-swap-container {
  position: relative;
  transform-style: preserve-3d;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 16px;

  border: 1px solid rgba(255, 255, 255, 0.1);

  -webkit-backdrop-filter: blur(12px);

  transform-style: preserve-3d;
  will-change: transform, opacity, scale;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.card:hover {
  border-color: rgba(138, 43, 226, 0.7);
  box-shadow: 0 0 40px rgba(138, 43, 226, 0.5);
}
